<h1 class="text-center">Lista de Mascotas</h1>
<div class="row">
  <div class="col-sm-9">
    <p>Aquí se listan las mascotas del sistema.</p>
  </div>
  <div class="col-sm-3">
    <a href="/CrearMascota?idUsuario=<%= idUsuarios %>&idRaza=<%= idRazas %>" class="btn btn-block btn-success">
      Crear Mascota
    </a>
  </div>
</div>
<br>
<% if(idUsuarios == undefined && idRazas == undefined) { %>
<div class="row">
  <% for(var i = 0; i < mascotas.length; i++){ %>
  <div class="col-sm-4 text-center ma-borde ma-padding-top-bottom">
    <h1> <%= mascotas[i].nombre %></h1>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-4 text-center ma-borde">
    <h3> <%= mascotas[i].nombre %></h3>
    <p>
      Fecha de Nacimiento: <%= mascotas[i].fechaNacimiento.toLocaleString().substr(0,10)  %>
      <br>
      Pais de Nacimiento: <%= mascotas[i].paisNacimiento %>
      <br>
      Raza: <%= mascotas[i].idRaza.nombre %>
    </p>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2" style="margin-top: 20px">
    <a href="/Mascota/BorrarMascota?id=<%= mascotas[i].id %>" class="btn btn-danger btn-block">X</a>
    <a href="/EditarMascota?id=<%= mascotas[i].id %>" class="btn btn-info btn-block">Editar</a>
  </div>
  <% } %>
</div>
<% } else {
if(idUsuarios != undefined && idRazas == undefined) { %>
<div class="row">
  <% for(var i = 0; i < mascotas.length; i++){ %>
  <div class="col-sm-4 ma-borde ma-padding-top-bottom">
    <h2 class="text-center"> <%= mascotas[i].nombre %></h2>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-4 ma-borde">
    <h3 class="text-center"> <%= mascotas[i].nombre %></h3>
    <p class="text-center">
      Fecha de Nacimiento: <%= mascotas[i].fechaNacimiento.toLocaleString().substr(0,10) %>
      <br>
      Pais de Nacimiento: <%= mascotas[i].paisNacimiento %>
      <br>
      Raza: <%= mascotas[i].idRaza.nombre %>
    </p>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <a href="/Mascota/BorrarMascota?id=<%= mascotas[i].id %> &idUsuario=<%= mascotas[i].idUsuario %>"
       class="btn btn-danger btn-block">X</a>
    <a href="/EditarMascota?id=<%= mascotas[i].id %>&idUsuario=<%= mascotas[i].idUsuario %>" class="btn btn-info btn-block">Editar</a>
  </div>

  <% } %>
</div>
<% }else {
if(idUsuarios == undefined && idRazas != undefined){ %>
<div class="row">
  <% for(var i = 0; i < mascotas.length; i++){ %>
  <div class="col-sm-4 ma-borde ma-padding-top-bottom">
    <h2 class="text-center"> <%= mascotas[i].nombre %></h2>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-4 ma-borde">
    <h3 class="text-center"> <%= mascotas[i].nombre %></h3>
    <p class="text-center">
      Fecha de Nacimiento: <%= mascotas[i].fechaNacimiento.toLocaleString().substr(0,10) %>
      <br>
      Pais de Nacimiento: <%= mascotas[i].paisNacimiento %>
      <br>
      Raza: <%= mascotas[i].idRaza.nombre %>
    </p>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <a href="/Mascota/BorrarMascota?id=<%= mascotas[i].id %>&idRaza=<%= mascotas[i].idRaza.id %>"
       class="btn btn-danger btn-block">X</a>
    <a href="/EditarMascota?id=<%= mascotas[i].id %>&idRaza=<%= mascotas[i].idRaza.id %>" class="btn btn-info btn-block">Editar</a>
  </div>

  <% } %>
</div>
<% }
} } %>
